<header class="header">
  <div class="logo">Sport<span>Hub</span></div>

  <ng-container *ngIf="!(isAuthenticated$ | async)">
    <div class="nav-links">
      <a (click)="goToTeams()">Teams</a>
      <a (click)="goToLogin()">Login</a>
    </div>
  </ng-container>

  <ng-container *ngIf="isAuthenticated$ | async">
    <div class="nav-links">
      <a (click)="goToTeams()">Teams</a>

      <ng-container *ngIf="team$ | async as team; else playerTemplate">
        <div class="avatar">
          <div *ngIf="team.profilePicture !== null; else letterCircle">
            <img [src]="url + team.profilePicture" alt="{{ team.name }} Logo" class="logo" />
          </div>
          <ng-template #letterCircle>
            <div class="circle-avatar" [ngStyle]="{ 'background-color': '#0B348C' }">
              {{ team.name[0].toUpperCase() }}
            </div>
          </ng-template>
        </div>
      </ng-container>

      <ng-template #playerTemplate>
        <ng-container *ngIf="player$ | async as player">
          <div class=" avatar">
            <div *ngIf="player.profilePicture !== null; else playerInitials">
              <img [src]="url + player.profilePicture" alt="{{ player.firstname }} Logo" class="logo" />
            </div>
            <ng-template #playerInitials>
              <span class="circle-avatar" [ngStyle]="{ 'background-color': '#0B348C' }">
                {{ player.firstname[0] | uppercase }}
              </span>
            </ng-template>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </ng-container>
</header>