<mat-card class="card">
  <div class=" header">
    <img [src]="url + team.profilePicture" alt="{{ team.name }} Logo" class="logo" />
    <h2>{{team.name}}</h2>
  </div>

  <div class="info-box">
    <div class="info-item">
      <mat-icon><img [src]="url + team.sport.iconFilename" alt="{{ team.sport.iconFilename }} Logo" class="logo" />
      </mat-icon>
      <span>{{ team.sport.name}}</span>
    </div>
    <div class="info-item">
      <mat-icon>location_on</mat-icon>
      <span>{{team.city}}</span>
    </div>
    <div class="info-item">
      <mat-icon>group</mat-icon>
      <span>{{team.numberOfPlayers}}</span>
    </div>

    <button (click)="goToTeam(team.id)" mat-raised-button color="warn" class="more-btn">More info</button>
  </div>
</mat-card>