<app-loader [loading]="loading$"></app-loader>
<form
 class="login-form"
 [formGroup]="registerTeamForm"
 (ngSubmit)="onSubmit()"
>
 <h1>Register player</h1>
 <div class="form-inputs">
  <app-login-input
   label="Team name"
   placeholder="Enter your team name"
   type="text"
   icon="person"
   [control]="getNameControl"
  ></app-login-input>
  <div
   *ngIf="
    citiesList && citiesList.length > 0;
    else manualInput
   "
  >
   <mat-form-field class="w-full" appearance="outline">
    <mat-label>City</mat-label>
    <mat-select [formControl]="getCityControl">
     <mat-option
      *ngFor="let city of citiesList"
      [value]="city"
     >
      {{ city }}
     </mat-option>
    </mat-select>
   </mat-form-field>
  </div>

  <ng-template #manualInput>
   <app-login-input
    label="City"
    placeholder="Enter your city"
    type="text"
    icon="location_on"
    [control]="getCityControl"
   >
   </app-login-input>
  </ng-template>

  <app-login-input
   label="Email"
   placeholder="Enter your email"
   type="email"
   icon="email"
   [control]="getEmailContorl"
  ></app-login-input>
  <app-login-input
   label="Password"
   placeholder="Enter your password"
   type="password"
   icon="lock"
   [control]="getPasswordContorl"
  ></app-login-input>
  <div *ngIf="sportsList && sportsList.length > 0; else manualSportInput">
   <mat-form-field class="w-full" appearance="outline">
    <mat-label>Sport</mat-label>
    <mat-select [formControl]="getSportIdControl">
     <mat-option *ngFor="let sport of sportsList" [value]="sport.id">
      {{ sport.name }}
     </mat-option>
    </mat-select>
   </mat-form-field>
  </div>
  
  <ng-template #manualSportInput>
   <app-login-input label="Sport" placeholder="Enter your sport ID" type="number" icon="sports_soccer"
    [control]="getSportIdControl"></app-login-input>
  </ng-template>
 </div>
 <div *ngIf="error$ | async as error" class="error">
  {{ error.toString() }}
 </div>
 <app-button
  [disabled]="registerTeamForm.invalid"
  type="submit"
  >Register</app-button
 >
 <p>
  Imate nalog?
  <a (click)="goToSignIn()">Log In</a>
 </p>
</form>
