<div class="sidebar">
  <!-- Profile Section -->
  <div class="sidebar-section profile-section">
    <div class="sidebar-item profile" (click)="goToProfile()">
      <ng-container *ngIf="team$ | async as team; else playerTemplate">
        <div class="avatar">
          <img *ngIf="teamImage$ | async as img; else teamInitial" [src]="url + img" [alt]="team.name"
            class="avatar-img" />
          <ng-template #teamInitial>
            <div class="avatar-circle" [ngStyle]="{'background-color': '#0B348C'}">
              {{ team.name[0].toUpperCase() }}
            </div>
          </ng-template>
        </div>
        <span class="label">{{ team.name }}</span>
      </ng-container>

      <ng-template #playerTemplate>
        <ng-container *ngIf="player$ | async as player">
          <div class="avatar">
            <img *ngIf="player.profilePicture; else playerInitial" [src]="url + player.profilePicture"
              [alt]="player.firstname" class="avatar-img" />
            <ng-template #playerInitial>
              <div class="avatar-circle" [ngStyle]="{'background-color': '#0B348C'}">
                {{ player.firstname[0].toUpperCase() }}
              </div>
            </ng-template>
          </div>
          <span class="label">{{ player.firstname }}</span>
        </ng-container>
      </ng-template>
    </div>
  </div>

  <!-- Player Team Section -->
  <ng-container *ngIf="player$ | async as player">
    <ng-container *ngIf="playerTeam$ | async as team">
      <div class="sidebar-section team-section">
        <div class="team-header" (click)="goToMyTeam()">
          <span class="team-label">Moj tim:</span>
          <div class="team-info">
            <span class="team-name">{{ team.name }}</span>
            <div class="avatar avatar-small">
              <img *ngIf="team.profilePicture; else teamInitial" [src]="url + team.profilePicture" [alt]="team.name"
                class="avatar-img" />
              <ng-template #teamInitial>
                <div class="avatar-circle" [ngStyle]="{'background-color': '#e88b5a'}">
                  {{ team.name[0].toUpperCase() }}
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="team-actions">
          <div class="sidebar-item" (click)="goToSchedule()">
            <i class="bi bi-calendar"></i>
            <span>Schedule</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- Navigation Section -->
  <ng-container *ngIf="team$ | async as team">
    <div class="sidebar-section nav-section">
      <div class="sidebar-item" (click)="goToSettings()">
        <i class="bi bi-gear"></i>
        <span>Settings</span>
      </div>
    </div>
  </ng-container>

  <!-- Logout Section -->
  <div class="sidebar-section logout-section">
    <div class="sidebar-item logout" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      <span>Logout</span>
    </div>
  </div>


</div>