<div class="login-container">
  <app-loader [loading]="loading$"></app-loader>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <div class="form-inputs">
      <app-login-input label="Email" placeholder="Enter your email" type="email" icon="email"
        [control]="getEmailContorl"></app-login-input>

      <app-login-input label="Password" placeholder="Enter your password" type="password" icon="lock"
        [control]="getPasswordContorl"></app-login-input>

    </div>
    <div *ngIf="error$ | async as error" class="error">{{error.toString()}}</div>
    <app-button [disabled]="loginForm.invalid" type="submit">Login</app-button>
    <p>
      Nemate nalog?
      <a (click)="goToSignIn()">Sign In</a>
    </p>
  </form>
</div>