a {
 color: #e8916a;
 cursor: pointer;
 text-decoration: underline;
}
.error {
 color: #d32f2f;
 font-size: 0.875rem;
 margin-bottom: 1rem;
 text-align: center;
}

mat-form-field {
 width: 100%;
 background-color: #fff;
 border-radius: 5px;
 margin-bottom: 1rem;
}
